* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
}

html {
  background: #f9f9f9 url('/images/bg.png') top right no-repeat;
  background-size: 1079px 720px;
  background-attachment: fixed;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  padding: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  width: 640px;
}

h1, h2, h3, h4, p {
  margin-bottom: 32px;
}

dl {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2em;
  font-family: "SF Mono", "Roboto Mono", "SF Mono for Powerline", "Courier New", monospace;
  background-color: #fff;
}

dt {
  float: left;
  clear: left;
  width: 200px;
  margin-right: 2em;
  text-align: right;
  font-size: 14px;
  text-transform: uppercase;
  color: #aaa;
}

dt::after {
  content:"";
}

dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}

p {
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.6);
}

a, a:active, a:visited {
  text-decoration: none;
  color: #0000ff;
  border-bottom: 1px solid #0000ff;
}

a:hover {
  color: #0033ff;
  border-bottom: 1px solid #0033ff;
}

footer {
  margin-top: 64px;
  padding: 32px 10px;
  border-top: 1px solid #eee;
}

.welcome {
  font-size: 1.5em;
}

a.title {
  border: none;
  color: #000000;
  font-size: 1.8em;
  font-weight: bold;
}

h4.sub {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #333;
}

.logs {
  box-shadow: -5px 15px 20px 10px rgba(0,0,255,0.4);
  float: right;
  box-sizing: border-box;
  padding: 15px;
  background-color: #fff;
  width: 720px;
  height: 100%;
  overflow: auto;
  position: fixed;
  bottom: 0;
  border-left: 1px solid rgba(0,0,255,0.9);
  right: 0;
  z-index: 1;
}

.logs:before {
  content: "";
  display: block;
  position: fixed;
  right: 720px;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(255,255,255,0.8);
}

.logs > ul {
  font-family: "SF Mono", "Roboto Mono", "SF Mono for Powerline", "Courier New", monospace;
  font-size: 14px;
  list-style: none;
}

.logs > ul > li:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,255,0.05);
  overflow: auto;
  display: block;
}

.logs > ul > li > .time {
  float: left;
  color: rgba(0,0,0,0.4);
}

.logs > ul > li > .user {
  float: left;
  margin-left: 1em;
  color: #0000ff;
}

.logs > ul > li > .message {
  max-width: 495px;
  text-align: left;
  margin-left: 1em;
  float: left;
}

button.toggle {
  box-shadow: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  position: fixed;
  color: #ffffff;
  display: block;
  width: 64px;
  height: 64px;
  right: 740px;
  top: 20px;
  color: #0000ff;
  background-color: transparent;
  z-index: 3;
}

button.toggle.collapsed {
  box-shadow: 0 5px 30px 3px rgba(0,0,255, 0.4);
  background-color: #0000ff;
  color: #ffffff;
  right: 32px;
  bottom: 32px;
  top: auto;
}

.content {
  z-index: 3;
}

.info {
  position: absolute;
  display: inline-block;
  padding: 4px 8px;
  border: 2px solid #ffffff;
  top: -10px;
  right: -20px;
  border-radius: 50px;
  background-color: #ff0000;
}

.heart {
  color: red;
  font-weight: bold;
}

.notice {
  margin: 0;
  text-align: center;
  padding: 1em;
  color: #aaa;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #aaa;
  font-size: 14px;
  text-transform: uppercase;
}
