# Let's Encrypt
mc.penzur.xyz
tls jupenz@gmail.com

# Essential
log / stdout {combined}
proxy / https://penzurcraft.github.io
proxy /ws tuku:8082/ws {
	header_upstream Connection {>Connection}
	header_upstream Upgrade {>Upgrade}
}
push / /images/bg.jpg /css/style.css
