# Let's Encrypt
mc.penzur.xyz
tls jupenz@gmail.com

# Essential
log / stdout {combined}
proxy / https://penzurcraft.github.io
proxy /tuku tuku:8082 {
	websocket
}
push / /images/bg.jpg /css/style.css
