# Let's Encrypt
mc.penzur.xyz
tls jupenz@gmail.com

# Logs
log / stdout {combined}

# Home page with http push
proxy / https://penzurcraft.github.io
push / /images/bg.png /css/style.css

# Websocket
proxy /ws tuku:8082 {
	websocket
}
